---
layout: default
---

<div class="home">

  <div class="hero">
    <div class="container">
      <div class="text-box">
        <h1 class="title">Hello There!</h1>
        <div class="body">
          <p>You've reached my old journal, where the topics aligned with my career at the time. These included: marketing, product development, sustainability, UX design, and nonprofit communications.</p>
          <p><a href="http://www.vellandi.net" style="font-weight: 500; text-decoration: underline;">Click HERE</a> to visit my current website with projects, bio, and writing.</p>
        </div>
      </div>
      <div class="image-box"><img src="https://avatars.githubusercontent.com/u/7730606" class="image" /></div>
    </div>
  </div>

  <h1 class="page-heading" style="margin-top: -3rem; margin-left: -9999px">Old Journal by Mario Vellandi</h1>
  <div style="display: flex; gap: 1.8rem; margin-top: 3rem; margin-bottom: 2rem;">
    <h2 class="view-list all-posts">All Posts</h2>
    <h2 class="view-list all-categories"><a href="categories">All 618 Posts by 14 Categories</a></h2>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.categories %}
          <p class="post-categories">
            Categories: 
            {% for category in post.categories %}
              <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

    <p class="categories-link">Browse by <a href="{{ "/categories/" | prepend: site.baseurl }}">Categories</a></p>


</div>
