/** 
* SITE HERO
*/
.hero {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgb(42, 102, 116);
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 241, 248);
}
.hero .container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.hero .text-box {
    order: 2;
}
.hero .title {
    font-weight: 200;
}
.hero .body {
    color: rgb(42, 102, 116);
    font-size: 1.3rem;
}
.hero .image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 1;
}
.hero .image {
    width: 100%;
    max-width: 210px;
    border-radius: 9999999px;
    border: 1px solid gray
}
@media (min-width: 768px) {
    .hero .container {
        flex-direction: row;
        gap: 3rem;
    }
    .hero .text-box { order: 1;}
    .hero .image-box { 
        order: 2;
        flex-direction: column;
    }
    .hero .image {
        min-width: 240px;
    }
}



/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;
    padding: 1rem 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

@media (min-width: 1024px) {
    .site-title {
        font-size: 38px;
        padding: 1.6rem 0;
    }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link-current  {
        color: $text-color;
        line-height: $base-line-height;
        padding-bottom: 2px;
        border-bottom: 3px solid black;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 24px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.view-list {
    border: 1px solid rgb(42, 102, 116);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(42, 102, 116);
    text-decoration: none;
}

.all-posts {
    background-color: none;
}

.all-categories {
    background-color: rgb(42, 102, 116);
    
    > a {
        color: white;
        letter-spacing: 0.08rem;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-list .post-title {
    margin-bottom: 0.4rem;
}

.post-link {
    display: block;
    font-size: 24px;
}

.underline-effect {
    position: relative;
    text-decoration: none;
}

.underline-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    /* Adjust this value to increase/decrease space */
    width: 100%;
    height: 4px;
    /* Adjust thickness as needed */
    background-color: currentColor;
    /* Uses the current text color */
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
